.element__image {
  border-radius: 10px 10px 0 0;
  width: 100%;
  margin: 0;
  padding: 100% 0 0;
  object-fit: cover;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
