.elements {
  width: 100%;
  padding: 0;
  margin: 0;
  max-width: 880px;
  display: grid;
  grid-template-columns: repeat(3, calc((100% - 34px)/3));
  grid-template-rows: repeat(2, auto);
  row-gap: 20px;
  column-gap: 17px;
  box-sizing: border-box;
}

@media screen and (max-width: 960px) {
  .elements {
    padding: 0 27px;
    grid-template-columns: repeat(2, calc((100% - 20px)/2));
    grid-template-rows: repeat(3, auto);
  }
}

@media screen and (max-width: 767px) {
  .elements {
    padding: 0 19px;
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, auto);
  }
}
