.profile__avatar-container {
  grid-column: 1/2;
  grid-row: 1/3;
  margin: 0;
  position: relative;
}

@media screen and (max-width: 767px) {
  .profile__avatar-container {
    margin: 0 0 22px;
  }
}
