.profile__description {
  width: 100%;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: flex-start;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .profile__description {
    font-size: 14px;
    margin: 0 0 24px;
    align-self: center;
    text-align: center;
  }
}
