.popup__button-close {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 32px;
  height: 32px;
  background-image: url(./../../../images/button-close.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  right: -40px;
  top: -40px;
  transition: opacity .5s;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
}

.popup__button-close:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
    right: 0;
    top: -36px;
  }
}
