.profile__info {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 350px;
  font-size: 0;
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: flex-end;
  display: flex;
  align-items: baseline;
}

@media screen and (max-width: 767px) {
  .profile__info {
    align-self: center;
    width: fit-content;
    max-width: 270px;
  }
}

