.element__button-like {
  background-color: white;
  border: none;
  width: 23px;
  height: 19px;
  margin: 0;
  padding: 0;
  background-image: url(./../../../images/button-like.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: opacity .5s;
}

.element__button-like:hover {
  opacity: 0.6;
  cursor: pointer;
}
